.report-summary-padding{
    padding: 2rem;
    padding-top: 6rem;
}
.align-upload-center, .cds--file__drop-container{
    align-items: center;
}
.cds--file{
    display: contents;
}
.file-location{
    align-items: center;
}