.categorizer-padding {
    padding: 2rem;
    padding-top: 6rem;
}

.align-upload-center,
.cds--file__drop-container {
    align-items: center;
}

.cds--file {
    display: contents;
}

.file-location {
    align-items: center;
}

.d-border {
    display:inline-flexbox;
}

.category-row {
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
    display: inline-flex;
}

.sub-bt {
    text-align: center;
}

.s-bt {
    margin-top: 15px;
    margin-left: 10px;
}

.bottom-div{
    margin-top: 20px;
}

.col-bottom{
    padding-left: 2px;
}

.pic-style{
    border-radius: 25px;
}