.user-login-padding{
    padding: 8rem;
    padding-top: 6rem;
    background: url('./pexels-pixabay-40568.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.login-form{
    max-width: 400px;
}

.user-login-img{
    width: 20rem;
}

.signup-column{
    background-color: cadetblue;
}

.main-row{
    background-color: cadetblue;
    padding: 1rem
}
.verticle-line{
    border-right: 1px solid white;
}