@use '@carbon/type';

.Link-style{
    @include type.type-style('body-compact-01');
    text-decoration: none;
    color: unset;
}

.Link-style-color{
    @include type.type-style('body-compact-01');
    text-decoration: none;
    color: #0F62FE
}

.cds--header-panel--expanded {
    block-size: 10rem;
    inline-size: 14rem;
    padding: 1rem;
}

.logout-button{
    bottom: 0;
    position: absolute;
    padding-bottom: 1rem;
}