.medicine-padding{
    padding-top: 5rem;
    padding-inline-start: 4rem;
}
.cds--cc--axes g.axis g.tick text {
    fill: currentColor !important;
}
.cds--cc--axes g.axis .axis-title {
    fill: currentColor !important;
}
.cds--cc--chart-wrapper p{
    color: currentColor !important;
}

.medicine-description{
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 800px;
}